.cover__subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: white;
  transition: .2s ease-in-out;
  width: 360px;
  margin: 18px auto 0;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 32px auto 0;
  }
}
