.cover {
  width: 100%;
  margin: 66px auto 0;
  transition: .2s ease-in-out;
  max-width: 1154px;
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 90px auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 92px auto 0;
  }
}
