.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  font-weight: normal;
  color: white;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 8px auto 0;
  width: 90%;
  transition: .2s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    margin: 8px auto 0;
    width: 100%;
  }
}
